:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}

.goog-te-banner-frame,
#google_translate_element_hidden,
.goog-logo-link,
.goog-te-gadget-simple {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: auto;
  display: block !important;
}

html {
  scroll-behavior: smooth;
}
